<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :labels %>
    <%= form.text_field :labels %>
  </div>

  <div class="field">
    <%= form.label :html_url %>
    <%= form.text_field :html_url %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :locked %>
    <%= form.check_box :locked %>
  </div>

  <div class="field">
    <%= form.label :comments_count %>
    <%= form.number_field :comments_count %>
  </div>

  <div class="field">
    <%= form.label :raw %>
    <%= form.text_field :raw %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
